<div class="body"> 
<div class="intro"> 
<div class="introtext" > RESUME - VATSALA SINGH RAJPUT 
</div> 
<div class="contact">
	<div class="email inline ">
		<div class="emailImage inline">
		<i class="fa fa-envelope" aria-hidden="true">
		</i>
	</div>	
	vatsalarajput@yahoo.com
	</div>

	<div class="phone inline">
		<div class="phoneImage inline">
			<i class="fa fa-phone-square" aria-hidden="true"></i>
		</div>
		+91 9818407152
	</div>

	<div class="facebook inline">
		<div class="facebookImage" >
			<a href="https://www.facebook.com/vatsala.rajput"> <i class="fa fa-facebook-square" aria-hidden="true"></i> </a>
		</div>
	</div>

</div>

</div>
<div class="outer">
	<div class="row1">
		<div class="acad inline">
			<div class="academicsIntro inline">
		<div class="booksImage inline">
			<i class="fa fa-book" aria-hidden="true"></i>
		</div>
		EDUCATION
	</div>
		</div>

		<div class="tech inline">
			<div class="techIntro inline">
		<div class="techImage inline">
			<i class="fa fa-file-code-o" aria-hidden="true"></i>
		</div>
		TECHNICAL SKILLS
	</div>
		</div>
	</div>
	<div class="row2">
		<div class="projectsIntro inline">
			<div class="projectImage inline">
				<i class="fa fa-file" aria-hidden="true"></i>
			</div>
			PROJETCS
		</div>
		<div class="projcolumns">
		<div class="col1 "> </div>
		<div class="col2"> </div>
		<div class="col3"> </div>
		<div class="col4"> </div>
		<div class="col5"> </div>
		<div class="col6"> </div>
	</div>
	</div>
</div>


